<%- include('partials/head') %>

<div class="navbar">

<% if (loggedIn) { %>
    <a href="/auth/user">My User</a>
<br>
    <a href="/auth/logout">Log Out</a>

<% } else { %>
    <a href="/auth/register">Register</a>
    <br>
    <a href="/auth/login">Log In</a>

<% } %>
<h3>Supportlot!</h3>
</div>

<div class="rapper">

<h1> Welcome to Supportlot</h1>

<% if (loggedIn) { %>
    <a href="/auth/ticketRegister">Register a Ticket</a>

<% } else { %>
    <a href="/auth/register">Register</a>
<br>
    <a href="/auth/login">Log In</a>
<% } %>

</div>

<%- include('partials/foot') %>