<%- include('partials/head') %>
<%- include('partials/navbar') %>

<h1> Welcome to Supportlot!</h1>

<% if (loggedIn) { 
    console.log(role)%>
    <a href="/auth/ticketRegister">Register a Ticket</a>
    <% if (role === "Admin") { %>
        <br>
        <a href="/auth/admin">Admin Dashboard</a>
        <% } %>
<% } else { %>
    <a href="/auth/register">Register</a>
<br>
    <a href="/auth/login">Log In</a>
<% } %>

<%- include('partials/foot') %>