<%- include('partials/head') %>

<div class="rapper">

<h1>Login!</h1>

<form action="/auth/login" method="POST">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="login" id="Login">
</form>

</div>

<%- include('partials/foot') %>