<%- include('partials/head') %>
<%- include('partials/navbar') %>

<h1> User Manual</h1>

<div class="text">
    <p>Here's the manual on how to use our website!</p>
    <br>
    <p>First use the navbar at the top to navigate the different pages on the site.</p>
    <br>
    <strong>My User: </strong><p>Here you can see informastion about your account.</p>
    <br>
    <strong>My Tickets: </strong><p>Here you can look through your tickets and register new ones.</p>
    <br>
    <strong>User Manual: </strong><p>This is where you are now.</p>
    <br>
    <strong>FAQ: </strong><p>Here you can get answer to frequently asked questions.</p>
    <br>
    <strong>Log Out: </strong><p>Click this to log out of your account in case you want to switch to another.</p>
</div>

<%- include('partials/foot') %>